{% extends 'base.html' %}

{% load cms_tags cache menu_tags %}

{% block assets_extended %}
    <title>{% page_attribute "page_title" %}</title>
{% endblock %}

{% block body %}
    <div id="main-header">
      {% cms_toolbar %}
      <div class="social_container">
        <a href="https://twitter.com/florencegrende"><div class="twitter_icon"></div></a>
        <a href="https://www.facebook.com/florence.grende"><div class="facebook_icon"></div></a>
      </div>
      <div class="header_text"><a href="/">FLORENCE GRENDE</a></div>
      <div id="nav">
        <ul class="nav">
          {% show_menu 0 100 100 100 %}
        </ul>
      </div>
    </div>
    {% block base_content %}{% endblock %}
{% endblock %}
