{% extends 'base.html' %}

{% load cms_tags cache menu_tags %}

{% block assets_extended %}
    <title>{% page_attribute "page_title" %}</title>
{% endblock %}

{% block body %}
    <div id="main-header">
      {% cms_toolbar %}
      <div class="header_text"><a href="/">FLORENCE GRENDE</a></div>
      <div id="nav">
        <ul class="nav">
          {% show_menu 0 100 100 100 %}
        </ul>
      </div>
    </div>
    {% placeholder base_content %}
    {% block base_content %}{% endblock %}
    {# TODO: Add footer with social media and copyright and newsletter signup? #}
    {# TODO: FAVICON #}
{% endblock %}
